@import "tailwindcss";

@theme inline {
  --color-primary: #2B2E83;
  --color-secondary: #076633;
  --color-accent: #009FE3;
  --color-background: #F6F8FC;
  --color-text-primary: #101828;
  --color-text-secondary: #667085;
  --color-surface: #FFFFFF;
  --color-border: #E1E8F5;
  --font-sans: "Poppins", sans-serif;
}

body {
  background: var(--color-background);
  color: var(--color-text-primary);
  font-family: var(--font-sans);
}
